body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f9;
    margin: 20px 20px;
}

.container {
    display: flex;
    gap: 2rem;
}

.camera-feed{
    padding: 1rem;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 70%;
}
.recognized-names {
    padding: 1rem;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 30%;
}

.name-tile{
    justify-content: space-between;
    display: flex;
}

#camera {
    max-width: 100%;
    border-radius: 8px;
}

h2 {
    margin-bottom: 1rem;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0.5rem 0;
    padding: 0.5rem;
    background-color: #e0f7fa;
    border-radius: 4px;
}
